@font-face {
  font-family: Lazy Sunday;
  src: url(../../../media/font/lazysunday.otf);
}

#game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fundo {
  border: 5px solid #1f1f1f;
  background-color: white;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.tela {
  background-image: url(../../../media/img/adalovelace/tela2.png);
  background-size: cover;
  position: absolute;
  z-index: 3;
}

.teclaMove {
  background-size: cover;
  position: absolute;
  z-index: 2;
}

.tecla {
  background-size: cover;
  position: absolute;
  z-index: 2;
}

.grade {
  background-image: url(../../../media/img/adalovelace/labirinto/grade.png);
  background-size: cover;
  position: absolute;
  z-index: 2;
}

.player {
  background-image: url(../../../media/img/adalovelace/personagens/player.png);
  background-size: cover;
  position: absolute;
  z-index: 5;
}

.dog {
  background-image: url(../../../media/img/adalovelace/personagens/dog.png);
  background-size: cover;
  position: absolute;
  z-index: 4;
}

.labirinto {
  background-size: cover;
  position: absolute;
  z-index: 3;
}

.level {
  border: 5px solid #1f1f1f;
  border-radius: 10px;
  background-color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: Lazy Sunday;
  font-weight: bold;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  z-index: 5;
}

.limite {
  border: 5px solid #1f1f1f;
  border-radius: 10px;
  background-color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: Lazy Sunday;
  font-weight: bold;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  z-index: 5;
}

.restart {
  border: 5px solid #1f1f1f;
  border-radius: 10px;
  background-color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: Lazy Sunday;
  font-weight: bold;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  z-index: 5;
}

.end {
  border: 5px solid #1f1f1f;
  border-radius: 10px;
  background-color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: Lazy Sunday;
  font-weight: bold;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  z-index: 2;
}

#instrucao {
  font-size: 25px;
}

#instrucao2 {
  font-size: 25px;
}

#instrucao3 {
  font-size: 25px;
}

#aperte {
  font-size: 20px;
}

#aperte2 {
  font-size: 20px;
}

#aperte3 {
  font-size: 20px;
}

#parabens {
  font-size: 25px;
}

#aperte4 {
  font-size: 20px;
}